@font-face {
	font-family: HarmonyOS_R;
	font-style: normal;
	src: url(/src/assets/fonts/HarmonyOS_Sans_Regular.ttf) format('truetype');
}

@font-face {
	font-family: HarmonyOS_L;
	font-style: normal;
	src: url(/src/assets/fonts/HarmonyOS_Sans_Light.ttf) format('truetype');
}

/* 把我们所有标签的内外边距清零 */
* {
	margin: 0;
	padding: 0;
	/* css3盒子模型 */
	box-sizing: border-box;
	/* 使得在移动端点击 a 标签不会出现高亮框 */
	-webkit-tap-highlight-color: transparent;
}

/* 解决滚动条的消失出现，挤压 body 宽度导致的的内容左右错动问题 */
/* html {
	overflow-y: auto;
	overflow-x: hidden;
} */
/* 右边腾出滚动条的宽度 */
/* #app {
	margin-right: calc(100% - 100vw);
	padding-right: 8px;
} */

/* em 和 i 斜体的文字不倾斜 */
em,
i {
	font-style: normal;
}
/* 去掉li 的小圆点 */
li {
	/* list-style: none; */
}

img {
	/* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
	border: 0;
	/* 取消图片底侧有空白缝隙的问题 */
	vertical-align: middle;
}

button {
	/* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
	cursor: pointer;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	user-select: none;
}

button,
input,
textarea {
	/* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
	font-family: HarmonyOS_R, HarmonyOS_L, -apple-system, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
	border: 0;
	outline: none;
	color: var(--font);
}

body {
	font: 16px/1.5 HarmonyOS_R, HarmonyOS_L, -apple-system, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* CSS3 抗锯齿形 让文字显示的更加清晰 */
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

p,
span {
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

.hide,
.none {
	display: none;
}
/* 清除浮动 */
.clearfix:after {
	visibility: hidden;
	clear: both;
	display: block;
	content: '.';
	height: 0;
}

.clearfix {
	*zoom: 1;
}
